<style type="text/css">
    .bl {
        color: #0a28b1;
    }
    .blc {
        color: #27AAE0;
    }
    .gr {
        color: #919393;
    }
</style>

<html>
<head></head>
<body>
<p>Hi, {{username}},<br><br>
        Your Registration is completed. <br><br>
        Please click the following link to confirm your account.<br><br>
<a href="{{verification_link}}">{{verification_link}}</a><br><br><br>
        Kind Regards,<br><br><br>
<img src="{{img1}}">&nbsp;&nbsp;<img src="{{img2}}"><br><br>
<span class="bl">H-</span><span class="blc">in</span><span class="bl">-Q</span> (<span class="bl">H</span>appiness <span class="blc">in</span> <span class="bl">Q</span>uestions)<br><br>
<span class="gr">
        218, Technopark<br>
        90000 Tangiers<br>
        Morocco</span><br><br>
<a href="https://www.h-in-q.com">www.H-in-Q.com</a><br>
<span class="bl">Research </span><span class="blc">the </span><span class="bl">Future</span>
<br><br>
</body>
</html>